*{
    margin:0;
    padding:0;
}
@keyframes circle{
    0%{transform:rotate(0)}
    100%{transform:rotate(360deg)}
}
.container{
    height:100%;
}
.background{
    background:url('../assets/background.png');
    background-size:auto 100%;
    background-position:50%;
    background-repeat: no-repeat;
    height:100%;
    position:relative;
}
.background::after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black;
    opacity: .5;
}
/* logo */
.logo{
    width:92px;
    height:17px;
    position:absolute;
    top:12px;
    left:10px;
    z-index:1;
}

/* disk */
.diskContainer{
    position:absolute;
    top:70px;;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
}
.songRoll{
    position: relative;
}
.songRoll::after{
    content:'';
    width:96px;
    height:137px;
    top:-70px;
    left:133px;
    position: absolute;
    background-image: url('../assets/needle-ip6.png');
    background-size:contain;
}
.songRoll > .disc{
    width:296px;
    height:296px;
    background-image:url('../assets/disc-ip6.png');
    background-size:contain;
}
.songRoll > .disc > .discOver{
    width:296px;
    height:296px;
    background-image: url('../assets/disc_light-ip6.png');
    background-size: contain;
    animation:circle 20s linear infinite;
}
.imgContainer > img{
    width:184px;
    border-radius:50%;
    position: absolute;
    top:55px;
    left:55px;
    animation:circle 20s linear infinite;
}
.iconContainer{
    width:57px;
    height:57px;
    position: absolute;
    top:120px;
    left:120px;
    overflow: hidden;
}
.playBtn{
    font-size:56px;
    color:white;
    position:absolute;
    left:50%;
    top:56%;
    transform:translate(-50%,-50%); 
}
.iconBack{
    width:100%;
    height:100%;
    border-radius:50%;
    background:black;
    opacity:.3; 
}
